
<div class="small-container">
    <h2 class="title">Product List</h2>
    <div class="row">
        {{#each products}}
            <div class="col-3">
                <img src="{{imageUrl}}" alt="{{name}}">
                <h4>{{name}}</h4>
                <h5>{{author}}</h5>
                <div class="buttons-container">
                    <a href="/productsAdmin/{{id}}/edit" class="btn">Edit</a>
                    <form action="/productsAdmin/{{_id}}/delete" method="POST">
                        <button class="btn-buy">Delete</button>
                    </form>
                </div>
                
            </div>
        {{/each}}
    </div>
</div>