

<div class="small-container single-product">
    <div class="row">

        {{#with product}}
            <div class="col-2">
                <img src="{{imageUrl}}" width="75%" alt="{{name}}">
            </div>
            <div class="col-2">
                <p>{{category}}</p>
                <h1>{{name}}</h1>
                <h3>Author: {{author}}</h3>
                <br>
                <h5>Price: ${{price}}</h5>
                <br>
                <h5>Language: {{language}}</h5>
                <input type="number" value="1">
                <a href="#" class="btn">Add To Cart</a>

                <h3>Synopsis:</h3>
                <br>
                <p>{{synopsis}}</p>             
            </div>
        {{/with}}
    </div>
</div>