<div class="small-container">
    <h2 class="title">Product List</h2>
    <div class="row">
    {{#each products}}
    <div class="col-3">
        <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
        <h4>{{name}}</h4>
        <h5>{{author}}</h5>
        <a href="/products/{{id}}/edit" class="btn">Edit</a>
    </div>

    {{else}}

    <p>There are no products yet!</p>

    {{/each}}

</div>


