
<div class="small-container">
    <h2 class="title">All Products</h2>
    <div class="row">
        {{#each products}}
            <div class="col-3">
                <a href="/products/{{_id}}"><img src="{{imageUrl}}" alt="{{name}}"></a>
                <h4>{{name}}</h4>
                <h5>{{author}}</h5>
            </div>
        {{/each}}
    </div>
</div>