<h1>Product List</h1>

<hr>

<div class="row">

    {{#each products}}

    <div class="col-md-4 mb-5">

        <div class="card" style="width: 18rem;">

            <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">

            <div class="card-body">

                <h5 class="card-title">{{name}}</h5>

                <p class="card-text">{{author}}</p>

                <a href="/products/{{id}}/edit" class="btn btn-primary">Edit</a>
            
            </div>

        </div>

    </div>

    {{else}}

    <p>There are no products yet!</p>

    {{/each}}

    <hr />

</div>